<h1>Your profile</h1>
  <ul>
    <li> <%=@user.email %>
    <li> your magic number is <%=@user.id %> </li>

    <li> <%=@user.skills.last(4)%>
    <li> <%=@user.skills.select(:sk_finisher).to_s%>
  </ul>
